# For running app directly.
XP_WEBSERVER_POSTGRES_USER=admin
XP_WEBSERVER_POSTGRES_PASSWORD=secret
XP_WEBSERVER_POSTGRES_DB=appdb
XP_WEBSERVER_POSTGRES_HOST=xp-local-postgres
XP_WEBSERVER_POSTGRES_PORT=5432

XP_WEBSERVER_MAX_DOCKER_CONCURRENCY=4
XP_WEBSERVER_RABBIT_HOST=xp-local-rabbitmq
XP_WEBSERVER_RABBIT_QUEUE_NAME=jobs
XP_WEBSERVER_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:5173,http://127.0.0.1:5173

XP_WEBSERVER_STORAGE=/storage
XP_WEBSERVER_MAX_STORAGE_CONCURRENCY=8